* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  background-color: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-center{
  display: flex;
  justify-content: center;
}