.calendar-view{
  width: 100%;
  height: 95%;
  padding: 1rem;
  overflow-y: auto;
}

.app-header {
  background: #2a2a2a;
  color: #e0e0e0;
  text-align: center;
  border-bottom: 1px solid #4a4a4a;
}

.calendar-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

#month-year{
  padding-top: 15px;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-bottom: 0.5rem;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.3rem;
}

.day {
  background: #3a3a3a;
  color: #e0e0e0;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.event-indicator {
  width: 6px;
  height: 6px;
  background-color: rgb(205, 205, 205);
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.day.today {
  background: #505050;
  font-weight: bold;
}

#events-list .task{
  background: #1e1e1e;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.event-form {
  border: 1px solid #626262;
  padding: 10px;
  border-radius: 15px;
}

.form-group {
  display: flex;
  gap: 0.5rem;
}

.form-group input {
  flex: 1;
  padding: 0.5rem;
  background: #3a3a3a;
  border: 1px solid #4a4a4a;
  color: #e0e0e0;
  border-radius: 4px;
}

.task-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
}

.calendar-view button {
  background-color: rgb(30, 136, 218);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
}

.calendar-view button:hover {
  background-color: rgb(4, 93, 161);
}

.calendar-view select{
  background-color: rgb(30, 136, 218);
  color: white;
  border: none;
  border-radius: 8px;
  padding:3px 2px;
  font-size: small;
  cursor: pointer;
}

#events-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#events-list .task {
  background: #3a3a3a;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  height: 4vh;
}

.task {
  border-left: 4px solid rgb(125, 125, 125);
}

.no-sessions{
  border: none;
}