body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  margin: 0;
  padding: 2em;
}

#flashcard-container { 
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#flashcard {
  background-color: #ffffff;
  color: #1a1a1a;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  padding: 40px;
  margin: 0 auto;
  width: 80%;
  font-size: 1.5rem;
  text-align: center;
}

.card-face {
  min-height: 100px;
  font-weight: bold;
  width: 100%;
  text-wrap: wrap;
}

#flashcard-controls {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

#flashcard-controls button {
  background-color: rgb(30, 136, 218);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
}

#flashcard-controls button:hover {
  background-color: rgb(4, 93, 161);
}

#flashcard-progress {
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
}