#file-tabs .tab {
  width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #999;
}

#file-tabs .tab-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 6px;
}

#file-tabs .tab:hover {
  background-color: #ddd;
  color: #444;
}

#file-tabs .tab.active {
  background-color: #bbb;
  color: #111;
}

.close-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 0.2s, color 0.2s;
}

.close-btn:hover {
  background-color: rgba(0, 0, 0, 0.4) ;
}