#file-tabs button {
  background-color: #222;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  color:white;
  padding: 14px 16px;
  transition: 0.3s;
}

#file-tabs button:hover {
  background-color: #ddd;
  color: #444;
}

#file-tabs button.active {
  background-color: #bbb;
  color: #111;
}
